body {
    background-color: rgb(92, 132, 241);
}

.container-style {
    background-color: white;
    padding: 20px;
    height: 100vh;
}

.main-container {
    /* padding: 20px; */
    text-align: center;
    margin: 10px 0;
    color: rgb(92, 132, 241);
    /* background-color: rgb(189, 202, 236); */
}

.main-logo {
    width: 40px;
}

.main-heading {
    /* display: inline; */
    font-size: 30px;
    font-weight: bolder;
}

.seprator {
    border-right: 1px solid rgb(92, 132, 241);
}

.addon-color {
    background-color: rgb(92, 132, 241);
    color: aliceblue;
    font-weight: bolder;
    border-color: rgb(92, 132, 241);
}

.addon-color:hover {
    background-color: rgb(32, 88, 243);
}

.input-field {
    border-color: rgb(92, 132, 241);
}

.input-field:focus {
    color: rgb(92, 132, 241);
    border-color: rgb(92, 132, 241);
}

.input-field::placeholder, .details::placeholder {
    color: rgb(92, 132, 241);
}

.details {
    resize: none;
    color: rgb(92, 132, 241);
    border-color: rgb(92, 132, 241);
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

.details:focus {
    box-shadow: 0 0 4px 4px #BFDEFF;
}

.button-icon {
    width: 20px;
}

.pointer {
    cursor: pointer;
}